.header {
    position: absolute;
    height: 83px;
    top: 0;
    left: 0;
    right: 0;
    background-color: #121215;
    width: 100%;
    display: flex;
}
.header__block{
    display: inline-block;
}
.header__title{
    color: white;
    text-decoration: overline underline;
    font-family: "Gill Sans", sans-serif;
    font-size: xxx-large;
    text-align: center;
    padding: 5px 45px 5px 20px;

    width: 100px;
    margin: 0.7% 5%  1% 1%;
}
